
<ng-container *ngIf="($division | async) as division">
  <app-state 
    class="flex-column"
    [templates]="{
      newSeason: newSeasonTemplate,
      main: mainTemplate
    }"
    [templateName]="$pageState | async">
  </app-state>

  <ng-template #newSeasonTemplate>
    <div class="app-fullscreen-overlay">
       <img class="season-loading" src="/assets/season_white.png"/>
       <h1>A new season is beginning...</h1>
    </div>
  </ng-template>

  <ng-template #mainTemplate>
    <div *ngIf="!signedIn" class="user-signin">
      <div *ngIf="!id" class="user-signin-form">

        <input type="text" [(ngModel)]="codeInput">

        <br/>

        <button (click)="signIn()" class="action-button">
          Sign In
        </button>
      </div>

      <br/>

      <div *ngFor="let validation of loginValidations">
        <em>{{ validation }}</em>
      </div>

    </div>

    <div *ngIf="signedIn && !name" class="user-signin">
      <div class="user-signin-form">
        Enter a name for us to call you by!
        <input type="text" [(ngModel)]="nameInput">
        <br/>
    
        <button class="action-button" (click)="setName()">
          Join Division
        </button>
      </div>
    </div>

    <ng-container *ngIf="signedIn && name">
      <ng-container *ngIf="($playerView | async) as playerView">
        <app-banner
          [class.app-pulse--sm]="playerView?.highlight === 'banner'"
          [showKey]="showKey" 
          [divisionKey]="divisionKey">
        </app-banner>

        <div class="player-page-layout">
      
          <div class="player-focus">
            <app-state
              class="flex-column"
              style="width: 100%"
              [templates]="{
                none: welcomeTemplate,
                harvest: harvestTemplate,
                misc: marketTemplate,
                resolutionReview: resolutionReviewTemplate,
                resolutions: resolutionsTemplate, 
                principles: principlesTemplate,
                scenario: scenariosTemplate,
                review: reviewTemplate
              }"
              [templateName]="$focusState | async"
              >
            </app-state>

            <!-- ON-BOARDING -->
            <ng-template #welcomeTemplate>
              <div class="onboarding-page">
                <div class="tab-background welcome">
                  <img src="assets/welcome/{{divisionKey}}_Welcome.jpg"/>
                </div>
              </div>
            </ng-template>
        
            <!-- HARVEST -->
            <ng-template #harvestTemplate>
              <div class="flex-row" style="height: 100%; width: 100%">
                <div class="player-folder__body-harvest">
                  <div class="harvest-header">
                    <div>
                      <h1>Harvest</h1>
                    </div>
                    <span class="v-div"></span>
                    <div class="harvest-details">
                      <div class="xlarge">Capacity: {{ division?.capacity }}</div>
                    </div>
                  </div>
                  <app-land-grid 
                    #landGrid
                    [markCards]="false"
                    [turn]="division?.turn"
                    [updatePath]="landTilesPath"
                    [showHarvest]="true"
                    [showKey]="showKey"
                    [player]="$player | async"
                    [divisionKey]="divisionKey"
                    (gatherResource)="onGather($event)"
                    (select)="onSelect($event)"
                  ></app-land-grid>
                </div>
              </div>
            </ng-template>

            <!-- RESOLUTION REVIEW -->
            <ng-template #resolutionReviewTemplate>
              <div class="player-vote-wrap">
                <div class="relative-position" style="width: 100%">
                  <div class="tab-background voting blur">
                    <img src="assets/resolution_backgrounds/{{divisionKey}}.jpg"/>
                  </div>
            
                  <div class="tab-foreground player-vote">
                    <h1>PREVIOUS RESOLUTION</h1>
                    <hr style="width: 100%"/>
                    <br/>
                    <h2>{{ division?.lastResolution?.title }}</h2>
                    <div>{{ division?.lastResolution?.value }}</div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- RESOLUTION -->
            <ng-template #resolutionsTemplate>
              <div class="player-vote-wrap">
                <div class="relative-position" style="width: 100%">
                  <div class="tab-background voting blur">
                    <img src="assets/resolution_backgrounds/{{divisionKey}}.jpg"/>
                  </div>
            
                  <ng-container *ngTemplateOutlet="voteTemplate"></ng-container>
                </div>
              </div>
            </ng-template>
            
            <!-- PRINCIPLE -->
            <ng-template #principlesTemplate>
              <div class="player-vote-wrap">
                <div class="relative-position" style="width: 100%">
                  <div class="tab-background voting blur" >
                    <img
                      src="assets/principle_backgrounds/{{divisionKey}}.jpg"/>
                  </div>

                  <ng-container *ngTemplateOutlet="voteTemplate"></ng-container>

                </div>
              </div>
            </ng-template>
            
            <!-- SCENARIO -->
            <ng-template #scenariosTemplate>
              <div class="player-vote-wrap">
                <div class="relative-position" style="width: 100%">
                  <div class="tab-background voting blur">
                    <img
                      src="assets/resolution_backgrounds/{{divisionKey}}.jpg"/>
                  </div>
                  <ng-container *ngTemplateOutlet="voteTemplate"></ng-container>
                </div>
              </div>
            </ng-template>

            <ng-template #voteTemplate>
              <div *ngIf="$vote | async as vote" class="tab-foreground player-vote">
                <div *ngIf="(vote?.state === 'voting' && hasVoted(vote?.votes)) else playerVoteTemplate" style="text-align: center">
                  <p>Thanks for voting!</p>
                  <p>Waiting for polls to close...</p>
                </div>

                <ng-template #playerVoteTemplate>
                  <app-vote
                    (selectionChange)="onSelectionChange($event)"
                    [showVotes]="vote?.state === 'review'"
                    [allowSelection]="vote?.state === 'voting'"
                    [showKey]="showKey"
                    role="citizen"
                    hideOption="last"
                    [divisionId]="division.code"
                  ></app-vote>
                  <button
                    *ngIf="vote?.state === 'voting'"
                    class="action-button"
                    (click)="castVote()">
                    Vote
                  </button>
                </ng-template>
            </div>
            </ng-template>

            <!-- MARKET -->
            <ng-template #marketTemplate>
              <div class="flex-row" style="width: 100%; height: 100%">
                <app-market
                  role="citizen"
                  [showKey]="showKey"
                  [divisionKey]="divisionKey"
                  [landCost]="division?.landCost"
                >
                </app-market>
              </div> 
            </ng-template>

          <!-- REVIEW -->
            <ng-template #reviewTemplate>
              <div style="height: 100%; width: 100%">
                <app-division-review
                  [showKey]="showKey"
                  [divisionKey]="divisionKey">
                </app-division-review>
              </div>
            </ng-template>

            <!-- POPUPS -->
            <app-division-popups type="toast" [showKey]="showKey" [divisionKey]="divisionKey"></app-division-popups>
            <app-division-popups user="player" type="large-popup" [showKey]="showKey" [divisionKey]="divisionKey"></app-division-popups>
          </div>
      
          <!-- PLAYER CONTROLS -->
          <div class="player-folder__body-citizens">

            <!-- PLAYERS -->
            <ng-container *ngIf="$turn | async as turn">
              <app-player-deck
                [class.app-pulse--sm]="playerView?.highlight === 'player'"
                [id]="id" 
                [position]="position"
                [myTurn]="id == turn"
                [showKey]="showKey"
                [division]="division">
              </app-player-deck>
        
              <div 
                class="citizen-list"
                [class.app-pulse--sm]="playerView?.highlight === 'otherPlayers'">
                <div 
                  class="citizen-summary flex-row space-between"
                  *ngFor="let citizen of ($citizens | async)">
                    <span [class.player-turn-indicator]="citizen.id == turn">
                      <strong>{{ citizen?.position }}:</strong><span> {{citizen.name}}</span> 
                    </span>
                    <div>
                      <span class="citizen-list__stats" title="Land plots owned">
                        <i class="ns-icon">
                          <img src='/assets/land_white.png'/>
                        </i>
                        {{ citizen?.land ? citizen?.land : 0 }}
                      </span>
                    </div>
                </div>
              </div>

              <!-- ADVANCEMENTS -->
              <ng-container *ngIf="playerView?.views?.advancements">
                <div class="player-adv-wrapper ns-fade-in">
                  <app-player-advancements
                    [showKey]="showKey"
                    [divisionKey]="divisionKey"
                    [playerId]="id"
                    [class.app-pulse--sm]="playerView?.highlight === 'advancements'">
                  </app-player-advancements>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #divisionTab>
      <div class="player-folder__tab-division">
        {{ division?.code }}
      </div>
      <h1>Season {{ division?.season }}: {{division?.focus}}</h1>
    </ng-template>

    <ng-template #global>Global</ng-template>

    <ng-template #globalBody>
      <app-society-grid></app-society-grid>
    </ng-template>

    <ng-template #tileSelectSheet>
      <div class="action-sheet">
        {{ selectedResourceStatus?.message }}
        <div 
          *ngIf="selectedResourceStatus?.status === 'explorable'" 
          class="large-action-button"
          (click)="explore()">
          <fa-icon size="lg" [icon]="exploreIcon"></fa-icon>
          Explore (e)
        </div>
        <div 
          *ngIf="selectedResourceStatus?.status === 'explored' || selectedResourceStatus?.status === 'explorable'"
          class="large-action-button"
          (click)="gather()">
          <fa-icon size="lg" [icon]="gatherIcon"></fa-icon>
          Gather (g)
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-container>