.player-hand {
  align-content: flex-start;
  display: flex; 
  flex-wrap: wrap;
  width: 96px;
  height: 96px;
  border: solid 1px lightgrey;
  background: lightgrey;
  padding: 1px;
  overflow: scroll;

  .resource {
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin: 1px;
    border-radius: 5px;
    border: solid 1px lightgrey;
  }
}
