.player-hand {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 50px;
  border: solid 1px white;
  border-radius: 10px;
  overflow: scroll;

  .local-resources,
  .gla-resources {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 5px;
  }

  .gla-resources {
    border-left: 1px solid white;
  }

  .resource {
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin: 1px;
    border-radius: 5px;
  }
}

.citizen-name {
  font-size: 24px;
}

.player-deck__summary {
  font-size: 16px; 
  font-weight: 200;
  margin-bottom: 10px;

  .resources {
    margin-top: 10px;
  }
}
