<ng-container *ngIf="($citizen | async) as citizen">
  <div class="player-deck__summary">
    <div class="flex-row stretch-h">
      <div class="citizen-name" [class.player-turn-indicator]="myTurn">{{citizen?.name}}</div>
    </div>
  </div>
  <div class="flex-row stretch-h">
    Resources:  {{ wealth }}
  </div>
  <div class="player-hand">
    <div class="local-resources">
      <div 
        class="resource" 
        *ngFor="let resource of citizen?.resources"
        [class.one]="resource.value == 1"
        [class.two]="resource.value == 2"
        [class.three]="resource.value == 3">
        <span *ngIf="resource.division !== division?.code">
          {{resource.division}}
        </span>
      </div>
    </div>
  </div>
</ng-container>
