<app-tabs 
  *ngIf="tabs"
  (tabChange)="onTabChange($event)"
  selectedClass="central-selected-tab"
  [tabs]="tabs">
</app-tabs>

<div *ngIf="showModal === true" class="modal-wrap">
  <div class="modal small">
    <ng-container *ngTemplateOutlet="modalContent"></ng-container>
  </div>
</div>

<ng-template #show>Show</ng-template>
<ng-template #summary>Summary</ng-template>
<ng-template #users>Users</ng-template>

<ng-template #showBody>
  <div class="flex-row" style="overflow: hidden">
    <div class="timeline">
      <h2>Global Contamination Level: {{($contamination | async)?.current}}%</h2>
      <div>
        <!-- <button (click)="startClock()">Start</button> -->
        <ng-container *ngIf="$time | async as timer">
          <ng-container *ngIf="timer.live">
            <!-- <button (click)="stopClock()">Stop</button> -->
            <h2>START: {{ timer.start | date: 'hh:mm:ss a' }}</h2>
            <h2>TIME: {{ timer.clock | date: 'hh:mm:ss a' }}</h2>
          </ng-container>
          <hr/>
          <div 
            class="timeline-row" *ngFor="let row of ($timeline | async); let index = index"
            [class.time-highlight]="timer.live && timer.time > index"
            >
            <div class="cell">{{ row.time }}</div>
            <div class="cell">{{ row.action }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #summaryBody>
  <app-society-grid *ngIf="showKey" [showKey]="showKey"></app-society-grid>
</ng-template>

<ng-template #usersBody>
  <div class="vote-data">
    Users
    <button (click)="newUserCode()">Add User Code</button>
  </div>
  <br/>
  <app-users-grid *ngIf="showKey" [showKey]="showKey"></app-users-grid>
</ng-template>

<ng-container *ngFor="let div of divisions">
  <ng-template #tab>
    {{ div }}
    <ng-container *ngIf="$unseenMessages | async as unseen">
      <span *ngIf="unseen[div] > 0 && currentTab !== div">
        ({{ unseen[div] }})
      </span>
    </ng-container>
  </ng-template>
  <ng-template #division>
    <div class="central__division">
      <div class="central__division-chat">
        <!-- <div class="test-class"></div> -->
        <!-- <div class="test-class-2"></div> -->
        <app-chat 
          [showKey]="showKey"
          [feedName]="div"
          sender='central'
        >
        </app-chat>
        <div class="central__division-chat-controls">
          <div class="flex-column stretch-h">
            <textarea
              (keydown.enter)="submitChat(div)"
              class="central__division-chat-input"
              name="chatInput"
              type="text"
              [(ngModel)]="chatInput">
            </textarea>
          </div>
          <div class="central__division-chat-buttons">
            <div class="button-row">
              <!-- <button
                (click)="sendBroacastNotification(div)"
                class="central__division-chat-button icon">
                B
              </button> -->
            </div>
            <button 
              class="central__division-chat-button primary"
              (click)="submitChat(div)">
              SEND
            </button>
          </div>
        </div>
      </div>
      <div class="central__division-main">
        <app-division-full user="central" (clickNewEvent)="onClickNewEvent($event)" [showKey]="showKey" [divisionKey]="div"></app-division-full>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #addUserCodeTemplate>
  <button (click)="showModal = false">Close</button>
  <div class="modal-form-content">
    <h2>New User Code</h2>
    <input type="text" #newCode>
    <button (click)="addUserCode(newCode.value)">Add</button>
  </div>
</ng-template>

<ng-template #eventTemplate>
  <button (click)="showModal = false">Close</button>
  <h1>New Event</h1>
  <select
    #divisionOption
    *ngIf="divisionDropdownOptions"
    (change)="onDivisionOptionChange('event')"
    [(ngModel)]="divisionDropdownValue"
    name="event-options"
    id="event-options">
    <option
      *ngFor="let option of divisionDropdownOptions"
      [ngValue]="option?.title">
      <strong>{{option?.level}}:</strong> {{option?.title}} 
    </option>
  </select>

  <ng-container *ngIf="divisionDropdownSelect">
    <div>
      <ng-container *ngFor="let block of divisionDropdownSelect?.content; let i = index">
        <span [innerHtml]="block"></span>
        <input
          style="width: 30px"
          *ngIf="i < (divisionDropdownSelect?.content?.length - 1) && divisionEventVariables[i]?.value !== undefined"
          type="number"
          [(ngModel)]="divisionEventVariables[i].value"/>
      </ng-container>
    </div>
    <br/>
    <button (click)="setOption('event')">Send Event</button>
  </ng-container>
</ng-template>
