.chart-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .key-block {
    height: 15px; 
    width: 15px;
    display: inline-block;
    border: solid 1px white;
    margin: 4px;
  
    &.blue {
      background: blue;
    }
  
    &.red {
      background: red;
    }
  }
}

.data-chart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 120px;
  overflow: auto;
  font-size: 20px;
  align-items: center;
  align-content: center;

  .data-chart-item {
    display: flex;
    font-family: sans-serif;
    line-height: 20px;
    margin-bottom: 5px;
    align-items: center;

    .highlight {
      padding: 2px 4px;
      background: rgba(0,0,0, 0.6);
      border-radius: 5px;
      margin-left: 4px;
    }
  }
}
