Send:
<select
  [(ngModel)]="selectedExportType"
  name="vote-options"
  id="vote-options">
  <option
    *ngFor="let option of exportTypeOptions"
    [ngValue]="option">
    {{option?.name}}
  </option>
</select>

<ng-container *ngIf="selectedExportType">
  <ng-container *ngIf="selectedExportType.type === 'multi'">
    <ng-container *ngIf="selectedExportType.name === 'Resources'">
      <div *ngIf="$reserve | async as reserve">
        From reserve ({{ reserve }}): <em *ngIf="reserve === 0">No resources</em>

        <br/>
  
        <div class="flex-row">
          <ng-number-picker
            class="number-picker"
            [arrowKeys]="true"
            [(value)]="fromReserve"
            [min]="0"
            [max]="reserve"
            >
          </ng-number-picker>
        </div>
      </div>

    </ng-container>

    <br/>

    <div *ngIf="citizenData">
      <table>
        <tr>
          <th>Add</th>
          <th>Name</th>
          <th>Resources</th>
        </tr>
        <ng-container>
          <tr *ngFor="let citizen of citizenData">
            <td>
              <input 
                type="checkbox"
                [(ngModel)]="citizen.sendRequest"
                id="citizen-{{citizen.id}}"
                name="citizen-{{citizen.id}}">
            </td>
            <td>{{citizen?.position}}: {{ citizen?.name }}</td>
            <td>
              <div class="flex-row" *ngIf="citizen?.sendRequest === true">
                <ng-number-picker
                  *ngIf="citizen?.wealth > 0"
                  [min]="0"
                  [max]="citizen.wealth"
                  [(value)]="citizen.spend"
                  [arrowKeys]="true"
                  class="number-picker">
                </ng-number-picker>
                <em *ngIf="citizen?.wealth === 0">No resources</em>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
      <br/>
      TOTAL: {{ ( fromReserve ? fromReserve : 0) + addResources(citizenData) }}
    </div>
  </ng-container>

  <br/>
  To:
  <select
    *ngIf="$divisions | async as divisions"
    [(ngModel)]="selectedDivision"
    name="vote-options"
    id="vote-options">
    <option
      *ngFor="let option of divisions"
      [ngValue]="option">
      {{option?.select_text}}
    </option>
  </select>
</ng-container>

<ng-container *ngIf="selectedExportType?.name === 'Message'">
  <br/>
  Message:
  <textarea
    style="width: 100%"
    [(ngModel)]="messageInput"
    type="text">
  </textarea>
</ng-container>

<br/>

<button *ngIf="selectedDivision" (click)="send()">EXPORT</button>

<hr/>