<ng-container *ngIf="type === 'R' && value > 0">
  <img *ngIf="value === 1" class="resource-image" [attr.src]="contaminated ? '../assets/X1.png' : '../assets/R1.png'"/>
  <img *ngIf="value === 2" class="resource-image" [attr.src]="contaminated ? '../assets/X2.png' : '../assets/R2.png'"/>
  <img *ngIf="value === 3" class="resource-image" [attr.src]="contaminated ? '../assets/X3.png' : '../assets/R3.png'"]/>
</ng-container>

<ng-container *ngIf="type === 'C'">
  <img *ngIf="value === 1" class="resource-image contaminant" src="../assets/C1.png"/>
  <img *ngIf="value === 2" class="resource-image contaminant" src="../assets/C2.png"/>
  <img *ngIf="value === 3" class="resource-image contaminant" src="../assets/C2.png"/>
</ng-container>