<button (click)="showResolved = !showResolved">Show Resolved: {{showResolved}}</button>
<div 
  class="notification-feed"
  #feedWrapper>
  <ng-container *ngFor="let notification of ($notifications | async)">
    <div
      *ngIf="!(showResolved == false && notification?.resolved)"
      class="notification-bubble">
      <div class="notification-header" *ngIf="notification?.header">{{notification.header}}</div>
      <div [innerHTML]="notification?.value"></div>

      <ng-container *ngIf="notification?.requiresAction">
        <hr/>
        <strong>Requires action:</strong>
        <div [innerHTML]="notification?.requiresAction"></div>
        <button *ngIf="!notification?.resolved" (click)="markAsResolved(notification?.key)">Mark as Resolved</button>
        <div *ngIf="notification?.resolved" class="resolved-action"><em>Resolved</em></div>
      </ng-container>

      <ng-container *ngIf="notification?.rejectable || notification?.acceptable">
        <hr/>
        <button *ngIf="notification?.acceptable" (click)="rejectRequest()">Accept</button>
        <button *ngIf="notification?.rejectable" (click)="acceptRequest()">Reject</button>
      </ng-container>

      <ng-container *ngIf="!notification?.requiresAction && !notification?.rejectable && !notification?.acceptable">
        <hr/>
        <button
          *ngIf="!notification?.resolved"
          (click)="markAsResolved(notification?.key)"
          >Mark as seen
        </button>
        <div *ngIf="notification?.resolved" class="mark-as-seen"><em>Seen</em></div>
      </ng-container>
    </div>
  </ng-container>
</div>