.adv-summary-title {
  padding: 10px;
  margin: 0;
}

.adv-summary-contributors {
  border-left: solid lightgrey 1px;
  padding-left: 5px; 
  width: 20%;
}

.adv-summary-segment {
  width: 100%;
  &--L {
    width: 70%;
    padding-right: 5px;
    > h2 {
      margin-bottom: 0;
    }
  }
}

.advancement-header {
  display: flex;

  .ns-icon {
    margin-right: 5px;
  }
}

.advancement-summary {
  font-size: 16px;
  width: 100%;
  background: white;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  display: flex; 
  flex-direction: column;
  border: solid black 1px;

  > div {
    margin-bottom: 5px;
  }
}