.adv-summary-title {
  padding: 10px;
  margin: 0;
}

.adv-summary-contributors {
  border-left: solid 1px;
  padding-left: 10px; 
  width: 20%;
}

.adv-summary-segment {
  width: 100%;
  &--L {
    width: 70%;
    padding-right: 10px;
  }
}

.advancement-header {
  display: flex;

  .ns-icon {
    margin-right: 5px;
  }
}

.advancement-summary {
  font-size: 16px;
  width: 100%;
  background: #fdf4c5;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  color: black;
  display: flex; 
  justify-content: center;
  flex-direction: column;

  > div {
    margin-bottom: 5px;
  }
}