
<div class="grid">
  <div 
    *ngFor="let card of landTiles; let i = index"
    class="land-tile"
    [class.contaminated]="card.contaminated == true"
    [class.disabled]="card.disabled"
    [attr.data-division]="card.owner ? card.owner?.division : null"
    [attr.data-badge]="(card.owner && card.owner?.division == divisionKey) ? getPosition(card.owner.id) : card.owner?.division"
    [class.empty]="card.value === -1"
    [class.owned]="card.owner !== null"
  >
    <card
      (click)="selectTile(card)"
      [side]="card.harvested ? 'front' : 'back'"
      [class.owned]="true"
      [mark]="selection?.value === card.index ? selection?.mark : null"
      [playerId]="player?.id"
      [contaminated]="card.contaminated"
      [class.disabled]="card.value == -1 || card.contaminated == true"
      (sideChange)="process(i)">
      <div contaminatedTile class="harvest-card contaminated">
        <app-harvest-image
          *ngIf="card.type === 'R' && card.value > 0"
          [contaminated]="true"
          type="R"
          [value]="card.value">
        </app-harvest-image>
      </div>
      <div front class="harvest-card">
        <app-harvest-image
          [contaminated]="false"
          [type]="card.type"
          [value]="card.value">
        </app-harvest-image>
      </div>
      <div back class="harvest-card back">
        <div class="flex-row flex-center" *ngIf="markCards">
          <ng-container *ngIf="card.value !== -1">
            {{ card.type === 'C' ? 'C' + card.value : card.value }}
          </ng-container>
        </div>
      </div>
    </card>
  </div>
</div>
