<div class="harvest-cards">
  <div 
    *ngFor="let card of landTiles; let i = index"
    class="land-tile"
    [class.contaminated]="card.contaminated == true"
    [attr.data-badge]="card.owner ? card.owner.name : null"
    [attr.data-division]="card.owner ? card.owner.division : null"
    [class.empty]="card.value === -1"
    [class.owned]="card.owner !== null"
  >
    <card
      (click)="selectTile(card)"
      [side]="card.harvested ? 'front' : 'back'"
      width="40"
      height="40"
      [class.owned]="true"
      [mark]="card.mark"
      [playerId]="playerId"
      [class.disabled]="card.value == -1 || card.contaminated == true"
      (sideChange)="process(i)">
      <div front class="harvest-card">
        <div 
          *ngIf="card.value > 0"
          class="resource" 
          [class.one]="card.value === 1"
          [class.two]="card.value === 2"
          [class.three]="card.value === 3">
          {{card.value}}
        </div>
        <div *ngIf="card.value === 0" class="contamination">
          <img src="../assets/contamination.png"/>
        </div>
      </div>
      <div back class="harvest-card back">
        <div class="flex-row flex-center" *ngIf="markCards">
          {{card.value == 0 ? 'X' : ''}}
        </div>
      </div>
    </card>
  </div>
</div>
