
<div class="grid">
  <div 
    *ngFor="let card of landTiles; let i = index"
    class="land-tile"
    [class.contaminated]="card.contaminated == true"
    [attr.data-badge]="(card.owner && card.owner?.division == divisionKey) ? getPosition(card.owner.id) : card.owner?.division"
    [attr.data-local]="card.owner && card.owner?.division == divisionKey"
    [class.empty]="card.value === -1"
    [class.owned]="card.owner !== null"
  >
    <card
      (click)="selectTile(card)"
      [side]="card.harvested ? 'front' : 'back'"
      [class.owned]="true"
      [mark]="selection?.value === card.index ? selection?.mark : null"
      [playerId]="player?.id"
      [contaminated]="card.contaminated"
      [class.disabled]="card.value == -1 || card.contaminated == true"
      (sideChange)="process(i)">
      <div contaminatedTile class="harvest-card contaminated">
        <ng-container *ngIf="(card.type === 'R' && card.value > 0)">
          {{ card.value }}
        </ng-container>
      </div>
      <div front class="harvest-card">
        <div 
          *ngIf="card.type !== 'C' && card.value > 0"
          class="resource"
          [class.one]="card.value === 1"
          [class.two]="card.value === 2"
          [class.three]="card.value === 3">
          {{card.value}}
        </div>
        <div *ngIf="card.type === 'C'" class="contamination">
          <img src="../assets/contamination.png"/>
        </div>
      </div>
      <div back class="harvest-card back">
        <div class="flex-row flex-center" *ngIf="markCards">
          <ng-container *ngIf="card.value !== -1">
            {{ card.type === 'C' ? 'C' + card.value : card.value }}
          </ng-container>
        </div>
      </div>
    </card>
  </div>
</div>
<div *ngIf="harvestEvent" class="harvest-events">
  <app-toast
     (afterDismiss)="afterToastHide()" [data]="harvestEvent">
    <div
      *ngIf="harvestEvent.type === 'R'"
      class="resource toast-event-resource"
      [class.one]="harvestEvent.value === 1"
      [class.two]="harvestEvent.value === 2"
      [class.three]="harvestEvent.value === 3">
      {{harvestEvent.value}}
    </div>
    <div
      *ngIf="harvestEvent.type === 'C'"
      class="flex-column flex-center"
      >
      <em *ngIf="harvestEvent.value">{{harvestEvent.value}}</em>
      <div class="contamination toast-event-resource">
        <img src="../assets/contamination.png"/>
      </div>
    </div>
    <!-- <div style="padding-top: 10px" *ngIf="harvestEvent.type == 'exposeContaminant'" class="flex-column flex-center">
      <ng-container *ngIf="!harvestEvent.value">
        <em>No resources were destroyed</em>
      </ng-container>
      <ng-container *ngIf="harvestEvent.value">
        <em>Resources destroyed:</em>
        <div class="flex-row">
          <div
            *ngFor="let resource of harvestEvent.value"
            class="resource toast-event-resource"
            [class.one]="resource === 1"
            [class.two]="resource === 2"
            [class.three]="resource === 3">
            {{resource}}
          </div>
        </div>
      </ng-container>
    </div> -->
  </app-toast>
</div>
