.division-gla {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-sizing: border-box;
  color: black;
  background: #fdf4c5;
  border: solid;
  border-radius: 15px;
}