<div class="flex-row flex-center">
  <ng-container *ngIf="$playerViews | async as playerViews">
    <!--RESERVE-->

      <div 
        *ngIf="$reserveData | async as reserveData"
        [class.app-pulse--md]="($playerViewHighlight | async) === 'resources'"
        class="division-details reserve">
        <ng-container *ngIf="playerViews?.resources">
          <h2 class="reserve-header ns-fade-in">
            Reserve: {{reserveData?.reserve.value}}
          </h2>
          <app-reserve-bar 
            class="ns-fade-in"
            [percent]="reserveData?.reserve?.percent"
            [thresholds]="reserveData?.thresholds"
            [color]="reserveData?.color">
          </app-reserve-bar>
        </ng-container>
      </div>

    <!-- DIVISIONS -->
    <div
     class="division-summaries"
     [class.app-pulse--md]="($playerViewHighlight | async) === 'divisions'"
    >
      <ng-container *ngIf="playerViews?.divisions; else divisionHeader">
        <ng-container *ngFor="let $division of DivisionSummaries">
          <div 
            class="division-summary ns-fade-in" 
            *ngIf="($division | async) as division">
            <div class="division-summary-header" [style.background]="division.color">
              <span class="division-summary-code">{{division.code}}</span>
              <div class="division-summary-score" title="Current Season">
                <i class="ns-icon">
                  <img src="/assets/season_white.png"/>
                </i>
                {{division?.season}}
              </div>
            </div>
            <div>{{division.score}}</div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #divisionHeader>
      <h1 style="font-size: 60px">{{$divisionName | async}}</h1>
    </ng-template>

    <!-- GLOBAL CAPACITY -->
    <div class="division-details reserve"
      [class.app-pulse--md]="($playerViewHighlight | async) === 'global'">
      <div class="ns-fade-in" *ngIf="playerViews?.global">
        <!-- <span>GLOBAL CAPACITY</span>
        <span *ngIf="$global | async as global">
          {{global?.actual}} / {{global?.capacity}}
        </span> -->
        <app-global-capacity [showExceeding]="false" [showKey]="showKey"></app-global-capacity>
      </div>
    </div>
  </ng-container>
</div>


<div class="flash-news" *ngIf="$flashNews | async as flashNews">
  <h2>ATTENTION</h2>
  <div [innerHtml]="flashNews?.value"></div>
</div>