

.division-details {
  width: 100%;
  display: flex;
  border-radius: 10px;
  height: 70px;
  margin: 10px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;

  &.reserve {
    max-width: 120px;
  }

  .reserve-header {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    margin-top: -15px;
  }
}

.division-summaries {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 420px;
}

.division-summary {
  font-size: 16px;
  background: rgba(black, 0.8);
  padding: 5px;
  border: solid 1px;
  width: 90px;
  color: white;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
}

.division-summary-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.division-summary-score {
  display: flex; 
  justify-content: center;
}

@keyframes grow {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}