.player-hand {
  display: flex;
  width: 100%;
  min-height: 50px;
  height: 85px;
  overflow: scroll;
  padding: 10px;
  border-radius: 10px;
  background: #292828;
  box-sizing: border-box;

  .local-resources,
  .gla-resources {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    max-height: 100px;
  }

  .gla-resources {
    margin-left: 5px;
  }

  .resource {
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin: 1px;
    border-radius: 5px;
  }
}

.citizen-name {
  font-size: 24px;
}

.citizen-header {
  display: flex;
  justify-content: space-between;

  .citizen-stats {
    font-size: 18px;

    > * {
      margin-left: 5px
    }
  }
}

.player-deck__summary {
  font-size: 16px; 
  font-weight: 200;
  margin-bottom: 10px;

  .resources {
    margin-top: 10px;
  }
}
