<ng-container *ngIf="($citizen | async) as citizen">
  <div class="player-deck__summary">
    <div class="citizen-header">
      <div class="citizen-name" [class.player-turn-indicator]="myTurn">
        <strong>{{position}}: </strong> {{citizen?.name}}
        <!-- <app-player-turn 
          [showLabel]="false"
          [divisionPath]="divisionPath">
        </app-player-turn> -->
       
      </div>
      <div class="citizen-stats" title="Land plots owned">
        <!-- <fa-icon size="sm" [icon]="resourceIcon"></fa-icon>
        {{ wealth }} -->
        <i class="ns-icon">
          <img src='/assets/land_white.png'/>
        </i>
        <!-- <fa-icon size="sm" [icon]="landIcon"></fa-icon> -->
        {{ citizen?.land ? citizen?.land : 0 }}
      </div>
    </div>
  </div>
  <div class="player-hand">
    <div class="local-resources">
      <ng-container  *ngFor="let resource of citizen?.resources; let i = index">
        <app-harvest-image
          *ngIf="i < 21"
          class="resource"
          [contaminated]="false"
          [division]="resource.division"
          type="R"
          [value]="resource.value">
        </app-harvest-image>
        <span class="resource-overflow" *ngIf="i == 21">...</span>
      </ng-container>
      
      <!-- <div 
        class="resource" 
        *ngFor="let resource of citizen?.resources"
        [class.one]="resource.value == 1"
        [class.two]="resource.value == 2"
        [class.three]="resource.value == 3">
        <span *ngIf="resource.division !== division?.code">
          {{resource.division}}
        </span>
      </div> -->
    </div>
  </div>
</ng-container>
