<app-tabs 
  *ngIf="tabs"
  (tabChange)="onTabChange($event)"
  selectedClass="central-selected-tab"
  [tabs]="tabs">
</app-tabs>

<div *ngIf="showModal === true" class="modal-wrap">
  <div class="modal small">
    <ng-container *ngTemplateOutlet="modalContent"></ng-container>
  </div>
</div>

<ng-template #scenariosPreview>
  <div class="button-row">
    <button (click)="cancelUpdate('scenarios')">Cancel</button>
    <button (click)="updateCsvData('scenarios')">Update</button>
  </div>
  <table *ngIf="csvData?.scenarios" style="width: 100%">
    <tr>
      <th>Pre-vote</th>
      <th>Post-vote</th>
    </tr>
    <tr *ngFor="let scenario of csvData.scenarios">
      <td>
        <div><strong>{{ scenario.title }}</strong></div>
        <div>{{ scenario.prompt }}</div>
        <ul style="margin-top: 0">
          <ng-container *ngFor="let option of scenario.options">
            <li *ngIf="option?.prompt">
              {{option?.prompt}}
            </li>
          </ng-container>
        </ul>
      </td>

      <td>
        <div><strong>{{ scenario.title }}</strong></div>
        <div>{{ scenario.result }}</div>
        <ul style="margin-top: 0">
          <ng-container *ngFor="let option of scenario.options">
            <li *ngIf="option?.result">
              {{option?.result}}
            </li>
          </ng-container>
        </ul>
      </td>

    </tr>
  </table>
</ng-template>

<ng-template #principlesPreview>
  <div class="button-row">
    <button (click)="cancelUpdate('principles')">Cancel</button>
    <button (click)="updateCsvData('principles')">Update</button>
  </div>
  <div *ngIf="csvData?.principles" class="flex-column">
    <ng-container *ngFor="let principle of csvData.principles">
      <strong>{{principle.title}}</strong>
      <div>{{principle.prompt}}</div>
      <ul style="margin-top: 0">
        <ng-container *ngFor="let option of principle.options">
          <li *ngIf="option">
            <p>{{option.result}}</p>
            <p><strong>Remark: </strong>{{option.remark}}</p>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</ng-template>

<ng-template #resolutionsPreview>
  <div class="button-row">
    <button (click)="cancelUpdate('resolutions')">Cancel</button>
    <button (click)="updateCsvData('resolutions')">Update</button>
  </div>
  <table *ngIf="csvData?.resolutions" style="width: 100%">
    <tr>
      <th>Pre-vote</th>
      <th>Post-vote</th>
    </tr>
    <tr *ngFor="let resolution of csvData.resolutions">

      <td>
        <strong>{{ resolution.title }}</strong>
        <div>{{ resolution.prompt }}</div>
        <ul style="margin-top: 0">
          <ng-container *ngFor="let option of resolution.options">
            <li *ngIf="option?.prompt">
              {{option?.prompt}}({{option?.cost}})
            </li>
          </ng-container>
        </ul>
      </td>

      <td>
        <strong>{{ resolution.title }}</strong>
        <div>{{ resolution.result }}</div>
        <ul style="margin-top: 0">
          <ng-container *ngFor="let option of resolution.options">
            <li *ngIf="option?.result">
              {{option?.result}}({{option?.consequence}})
            </li>
          </ng-container>
        </ul>
      </td>

    </tr>
  </table>
</ng-template>

<ng-template #timelinePreview>
  <div class="button-row">
    <button (click)="cancelUpdate('timeline')">Cancel</button>
    <button (click)="updateCsvData('timeline')">Update</button>
  </div>
  <div *ngIf="csvData?.timeline" class="flex-column">
    <div class="flex-column" *ngFor="let row of csvData?.timeline">
      <div class="flex-row">
        <div>{{ row.time }}</div>
        <div>{{ row.action }}</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #usersPreview>
  <div class="button-row">
    <button (click)="cancelUpdate('users')">Cancel</button>
    <button (click)="updateCsvData('users')">Update</button>
  </div>
  <div *ngIf="csvData?.users" class="flex-column">
    <ng-container *ngFor="let user of csvData.users">
      <strong>{{user.code}}</strong>
    </ng-container>
  </div>
</ng-template>

<ng-template #eventsPreview>
  <div class="button-row">
    <button (click)="cancelUpdate('events')">Cancel</button>
    <button (click)="updateCsvData('events')">Update</button>
  </div>
  <div *ngIf="csvData?.events" class="flex-column">
    <ng-container *ngFor="let event of csvData.events">
      <strong>{{event.title}} (level: {{event.level}})</strong>
      <div>
        <ng-container *ngFor="let block of event?.content; let i = index">
          <span [innerHtml]="block"></span>
          <strong>{{ event.variables[i]?.value }}</strong>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #show>Show</ng-template>
<ng-template #summary>Summary</ng-template>
<ng-template #users>Users</ng-template>

<ng-template #showBody>
  <div class="flex-row" style="overflow: hidden">
    <div>
      <button (click)="resetShow()">Reset Show</button>

      <br/>

      <div class="admin-section" *ngIf="$contamination | async as contam">
        <google-chart
          width="300px"
          height="200px"
          type="LineChart"
          [data]="$contamData | async"
          [columns]="chart.columns"
          [options]="chart.options"
        >
        </google-chart>

        <h2>Global Contamination Level: {{contam?.current}}%</h2>
        <!-- <ng-number-picker
         class="number-picker"
         (valueChange)="onContaminationChange($event)" 
         [min]="0"
         [max]="100"
         [value]="contam?.current">
        </ng-number-picker> -->

        Min Contamination (%)
        <ng-number-picker
         class="number-picker"
         (valueChange)="onChangeContamMin($event)" 
         [min]="0"
         [value]="contam?.min">
        </ng-number-picker>

        Max Contamination (%)
        <ng-number-picker
         class="number-picker"
         (valueChange)="onChangeContamMax($event)" 
         [min]="0"
         [value]="contam?.max">
        </ng-number-picker>

        Start Increasing (minute)
        <ng-number-picker
         class="number-picker"
         (valueChange)="onChangeContamStart($event)" 
         [min]="0"
         [value]="contam?.start">
        </ng-number-picker>

        Stop Increasing (minute)
        <ng-number-picker
         class="number-picker"
         (valueChange)="onChangeContamEnd($event)" 
         [min]="0"
         [value]="contam?.end">
        </ng-number-picker>
      </div>

      <div class="admin-section">
        <div class="vote-data">
          Principles
          <input [(ngModel)]="csvFileData.principles" (change)="uploadPrinciplesData($event)" type="file" #fileUpload/>
        </div>
      
        <div class="vote-data">
          Resolutions
          <input [(ngModel)]="csvFileData.resolutions" (change)="uploadResolutionsData($event)" type="file" #fileUpload/>
        </div>
      
        <div class="vote-data">
          Scenarios
          <input [(ngModel)]="csvFileData.scenarios" (change)="uploadScenariosData($event)" type="file" #fileUpload/>
        </div>
      
        <div class="vote-data">
          Events
          <input [(ngModel)]="csvFileData.events" (change)="uploadEventsData($event)" type="file" #fileUpload/>
        </div>
      
        <div class="vote-data">
          Timeline
          <input [(ngModel)]="csvFileData.timeline" (change)="uploadTimelineData($event)" type="file" #fileUpload/>
        </div>
      </div>

    </div>

    <div class="timeline-wrapper">
      <button (click)="startClock()">Start</button>
      <ng-container *ngIf="$time | async as timer">
        <ng-container *ngIf="timer.live">
          <button (click)="stopClock()">Stop</button>
          <h2>START: {{ timer.start | date: 'hh:mm:ss a' }}</h2>
          <h2>TIME: {{ timer.clock | date: 'hh:mm:ss a' }}</h2>
        </ng-container>
        <hr/>
        <app-timeline [timer]="timer" [showKey]="showKey"></app-timeline>
      </ng-container>
    </div>

  </div>
</ng-template>

<ng-template #summaryBody>
  <app-society-grid *ngIf="showKey" [showKey]="showKey"></app-society-grid>
</ng-template>

<ng-template #usersBody>
  <div class="vote-data">
    Users
    <input [(ngModel)]="csvFileData.users" (change)="uploadUsersData($event)" type="file" #fileUpload/>
    <button (click)="newUserCode()">Add User Code</button>
  </div>
  <br/>
  <app-users-grid *ngIf="showKey" [showKey]="showKey"></app-users-grid>
</ng-template>

<ng-container *ngFor="let div of divisions">
  <ng-template #tab>
    {{ div }}
  </ng-template>
  <ng-template #division>
    <div class="central__division">
      <div class="central__division-chat">
        <!-- <div class="test-class"></div> -->
        <!-- <div class="test-class-2"></div> -->
        <app-chat 
          [showKey]="showKey"
          [feedName]="div"
          sender='central'
        >
        </app-chat>
        <div class="central__division-chat-controls">
          <div class="flex-column stretch-h">
            <textarea
              (keydown.enter)="submitChat(div)"
              class="central__division-chat-input"
              name="chatInput"
              type="text"
              [(ngModel)]="chatInput">
            </textarea>
          </div>
          <div class="central__division-chat-buttons">
            <div class="button-row">
              <!-- <button
                (click)="sendBroacastNotification(div)"
                class="central__division-chat-button icon">
                B
              </button> -->
            </div>
            <button 
              class="central__division-chat-button primary"
              (click)="submitChat(div)">
              SEND
            </button>
          </div>
        </div>
      </div>
      <div class="central__division-main">
        <app-division-full user="admin" (clickNewEvent)="onClickNewEvent($event)" [showKey]="showKey" [divisionKey]="div"></app-division-full>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #addUserCodeTemplate>
  <button (click)="showModal = false">Close</button>
  <div class="modal-form-content">
    <h2>New User Code</h2>
    <input type="text" #newCode>
    <button (click)="addUserCode(newCode.value)">Add</button>
  </div>
</ng-template>

<ng-template #eventTemplate>
  <button (click)="showModal = false">Close</button>
  <h1>New Event</h1>
  <select
    #divisionOption
    *ngIf="divisionDropdownOptions"
    (change)="onDivisionOptionChange('event')"
    [(ngModel)]="divisionDropdownValue"
    name="event-options"
    id="event-options">
    <option
      *ngFor="let option of divisionDropdownOptions"
      [ngValue]="option?.title">
      <strong>{{option?.level}}:</strong> {{option?.title}} 
    </option>
  </select>

  <ng-container *ngIf="divisionDropdownSelect">
    <div>
      <ng-container *ngFor="let block of divisionDropdownSelect?.content; let i = index">
        <span [innerHtml]="block"></span>
        <input
          style="width: 30px"
          *ngIf="i < (divisionDropdownSelect?.content?.length - 1) && divisionEventVariables[i]?.value !== undefined"
          type="number"
          [(ngModel)]="divisionEventVariables[i].value"/>
      </ng-container>
    </div>
    <br/>
    <button (click)="setOption('event')">Send Event</button>
  </ng-container>
</ng-template>
