<ng-container *ngIf="!contaminated; else contaminatedTemplate">
  <div 
    class="face back"
    [class.up]="side == 'back'"
    [class.down]="side == 'front'">
    <ng-content select=[back]></ng-content>
  </div>
  <div 
    class="face front"
    [class.up]="side == 'front'"
    [class.down]="side == 'back'">
    <ng-content select=[front]></ng-content>
  </div>
</ng-container>

<ng-template #contaminatedTemplate>
  <div class="face">
    <ng-content select="[contaminatedTile]"></ng-content>
  </div>
</ng-template>