<div
  [class.button-group__options]="look === 'default'"
  [class.button-group__options--round]="look === 'round'"
  >
  <div 
    *ngFor="let button of buttons; let i = index" 
    class="button-group__button {{ button?.id === currentButton?.id ? selectedClass : unselectedClass }}"
    [class.lg]="size === 'lg'"
    (click)="selectButton(button)"
  >
    <ng-container *ngIf="button.faIcon else labelOnly">
      <fa-icon size="md" [icon]="button.faIcon"></fa-icon>
      <span class="button-group-label">{{ button.label }}</span>
    </ng-container>
    <ng-template #labelOnly>
      <span>{{ button.label }}</span>
    </ng-template>
  </div>
</div>
