.button-group__options {
  display: flex;
  border: solid 1px black;
  border-radius: 10px;
}

.button-group__button {
  margin: 0;
  align-items: center;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;

  &.lg {
    padding: 20px; 

    .ng-fa-icon {
      font-size: 35px;
      margin-bottom: 15px;
    }

    .button-group-label {
      font-size: 24px;
    }
  }

  .button-group-label {
    font-size: 14px;
  }

  &:first-child {
    border-radius: 10px 0 0 10px;
  }

  &:last-child {
    border-radius: 0 10px 10px 0
  }

  &:not(:last-child) {
    border-right: 1px solid;
  }
}

.button-unselected {
  background: white;
  color: black;
}

.button-selected {
  background: #ffc107;
  color: black;
}