<ng-container *ngFor="let slot of divisions">
  <ng-container *ngIf="slot.code !== 'C'">
    <app-society-summary
      *ngIf="(slot.listener | async) as division"
      class="division-summary"
      [details]="details"
      [showKey]="showKey"
      [division]="division">
    </app-society-summary>
    <div *ngIf="!slot.listener"></div>
  </ng-container>
  <ng-container *ngIf="slot.code == 'C'">
    <div class="grid-center" *ngIf="(slot.listener | async) as summary">
      <!-- <img src="/assets/globe.jpeg"/> -->
      <div>Global Capacity</div>
      <div>{{ summary.actual }} / {{ summary.capacity }}</div>
      <div *ngIf="summary.actual > 0 && summary.capacity > 0">{{ Math.round((summary.actual / summary.capacity) * 100) }}%</div>
    </div>
  </ng-container>
</ng-container>