<ng-container *ngFor="let slot of divisions">
  <ng-container *ngIf="slot.code !== 'C'">
    <app-society-summary
      *ngIf="(slot.listener | async) as division"
      class="division-summary"
      [details]="details"
      [isAdmin]="isAdmin"
      [large]="large"
      [showKey]="showKey"
      [graph]="graph"
      [division]="division">
    </app-society-summary>
    <div *ngIf="!slot.listener"></div>
  </ng-container>
  <ng-container *ngIf="slot.code == 'C'">
    <div class="grid-center">
      <app-global-capacity [large]="large" [isAdmin]="isAdmin" [showKey]="showKey" [showExceeding]="true"></app-global-capacity>
    </div>
  </ng-container>
</ng-container>