<app-tabs 
  class="host-side-panel"
  selectedClass="host-selected-tab"
  [tabs]="[
    { id: 'division', tabTemplate: division, bodyTemplate: divisionBody },
    { id: 'global', tabTemplate: global, bodyTemplate: globalBody },
    { id: 'io', tabTemplate: io, bodyTemplate: ioBody },
    { id: 'central', tabTemplate: central, bodyTemplate: centralBody },
    { id: 'notes', tabTemplate: notes, bodyTemplate: notesBody }
  ]">
</app-tabs>

<div *ngIf="showModal === true" class="modal-wrap">
  <div class="modal">
    <button (click)="showModal = false">Close</button>
    <ng-container *ngTemplateOutlet="modalContent"></ng-container>
  </div>
</div>

<ng-template #harvestTemplate>
  Start harvest
  <button>Start</button>
</ng-template>

<ng-template #voteTemplate>
  Vote for: 
  <div class="button-row">
    <button (click)="setVoteDropdown('resolutions')">Resolution</button>
    <button (click)="setVoteDropdown('principles')">Principle</button>
    <button (click)="setVoteDropdown('scenerios')">Scenerio</button>
  </div>

  <select
    *ngIf="voteDropdown"
    [(ngModel)]="voteDropdownSelect"
    name="vote-options"
    id="vote-options">
    <option
      *ngFor="let option of voteDropdown"
      [ngValue]="option">
      {{option?.title}}
    </option>
  </select>

  <button *ngIf="voteDropdownSelect" (click)="startVote()">Vote</button>
</ng-template>

<div class="host-main">
  <div class="button-row">
    <button (click)="setFocus('harvest')">Harvest</button>
    <button (click)="setFocus('vote')">Vote</button>
  </div>
  <div *ngIf="focus === 'harvest'" class="harvest-wrapper">
    <h1>Harvest</h1>
    <div *ngIf="action !== 'harvesting'">
      <button (click)="startHarvest()" class="large-action-button">
        Start Harvest
      </button>
    </div>
    <app-land-grid 
      *ngIf="action === 'harvesting'"
      [markCards]="true"
      [showId]="showId"
      [updatePath]="landTilesPath"> 
    </app-land-grid>
  </div>

  <div *ngIf="focus === 'vote'" class="resolution-wrapper">
    <!-- <ng-container *ngIf="action === 'funding'">
      Resolution:  {{ divisionVote?.value }}
      <button (click)="enactVoteResult()">Enact resolution</button>
      <button (click)="clearVote()">Cancel resolution</button>
    </ng-container> -->
    <ng-container *ngIf="($vote | async) as vote">
      <app-vote 
        (selectionChange)="onSelectionChange($event)"
        [showVotes]="true"
        [allowSelection]="vote?.state === 'review'"
        [showId]="showId"
        [divisionId]="divisionId"
      ></app-vote>
      <app-fundraising
        *ngIf="vote?.state === 'review' && voteType === 'resolution'"
        [showKey]="showId"
        [divisionKey]="divisionId"
        [isCentral]="true"
        (fundsChange)="onFundsChange($event)"
        >
      </app-fundraising>
      <button *ngIf="vote?.state === 'voting'" (click)="closePolls()">Close Polls</button>
      <button *ngIf="vote?.state === 'review' && divisionVote" (click)="implement()">Implement</button>
    </ng-container>

  </div>
</div>

<!-- TABS-->
<ng-template #division>{{divisionId}}</ng-template>
<ng-template #global>Global</ng-template>
<ng-template #io>I/O</ng-template>
<ng-template #central>Central</ng-template>
<ng-template #notes>Notes</ng-template>

<!-- DIVISION -->
<ng-template #divisionBody>
  <div class="stack" *ngIf="$division | async as division">
    <div class="tab-card">
      <h2>Division</h2>
      <div><strong>Score: </strong>{{ division.score }}</div>
      <div><strong>Harvested: </strong>
        {{ division.harvested }} ({{ percentHarvested(division.harvested, division.capacity) }}% of capacity)
      </div>
      <div><strong>Season:</strong>
        {{ division.season }}
        <button (click)="newSeason()">New Season</button>
      </div>
      <hr/>
      <div>
        <strong>Land cost: </strong>{{ division.landCost }}
        <button (click)="changeDivisionProperty('landCost')">Change</button>
      </div>
      <div>
        <strong>Capacity: </strong>
        {{ division.capacity }}
        <button (click)="changeDivisionProperty('capacity')">Change</button>
      </div>
      <div>
        <strong>Extra: </strong>
        {{ division.extra }}
        <button (click)="changeDivisionProperty('extra')">Change</button>
      </div>
      <div><strong>Harvest size:</strong>
        {{ division.harvest }}
        <button (click)="changeDivisionProperty('harvest')">Change</button>
      </div>
    </div>

    <div class="tab-card">
      <h2>Citizens</h2>
      <div *ngFor="let citizen of division.citizens">
        <div><strong>{{citizen.id}}</strong>: <button>{{citizen.name}}</button></div>
        <div><strong>Resources: </strong>{{ citizen.resources.length }}</div>
      </div>
    </div>

    <div class="tab-card">
      <h2>Resolutions</h2>
      <p *ngFor="let resolution of ($resolutions | async)">
        {{ resolution.value }}
      </p>
    </div>

    <div class="tab-card">
      <h2>Principles</h2>
      <p *ngFor="let principle of ($principles | async)">
        {{ principle.value }}
      </p>
    </div>

    <div class="tab-card">
      <h2>Scenerios</h2>
      <p *ngFor="let scenerio of ($scenerios | async)">
        {{ scenerio.value }}
      </p>
    </div>
  </div>

</ng-template>

<!-- GLOBAL -->
<ng-template #globalBody>
  <span *ngIf="contamination !== undefined">
    Contamination Level: {{contamination}}%
  </span>
</ng-template>

<!-- I/O -->
<ng-template #ioBody>
  I/O
</ng-template>

<!-- CENTRAL -->
<ng-template #centralBody>
  <app-chat [sender]="divisionId" [feedName]="divisionId" [showKey]="showId"></app-chat>
  <textarea
    (keydown.enter)="submitChat(divisionId)"
    class="host-chat-input"
    name="chatInput"
    type="text"
    [(ngModel)]="chatInput">
  </textarea>
  <button class="host-chat-button" (click)="submitChat(divisionId)">SEND</button>
</ng-template>

<!-- NOTES -->
<ng-template #notesBody>
  <div class="button-row">
    <button [style.font-size.px]="14" (click)="fontSizeDown()">Aa</button>
    <button [style.font-size.px]="20" (click)="fontSizeUp()">Aa</button>
  </div>
  <br/>
  <textarea [style.font-size.px]="fontSize" class="host-notes">Type notes here!</textarea>
</ng-template>