.harvest-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  background: #fdf4c5;
  border-radius: 10px;
  overflow: hidden;

  .turn-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  button {
    margin: 10px;
  }
}

.resolution-wrapper {
  background: #e0e0e0;
  color: black;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;

  > .app-vote {
    margin-bottom: 10px;
  }
}

.harvest-controls {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .harvest-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    color: black;
  }

  .harvest-buttons {
    display: flex; 
    justify-content: space-between;
  }
}

.focus-wrapper {
  display: flex;
  padding: 10px;
  height: 100%;
  flex-direction: column;
  min-height: 0;

  .player-data {
    margin-left: 5px;
    display: flex; 
    flex-direction: column;
    border-radius: 10px;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.harvest-column-button {
  padding: 20px;
  border-radius: 0;

  &:not(:first-child) {
    border-left: 0;
  }

  &.highlighted {
    background: rgb(255, 179, 0);
  }
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
}

.misc-wrapper {
  width: 100%;
  height: 420px;
  overflow: auto;
}

.host-side-panel {
  &.left {
    max-width: 300px; 
    margin-right: 10px;
  }
  &.right {
    max-width: 500px;
  }
}
.folder__body.host-selected-tab {
  border-top: solid #7c98a9;
}

.host-tab {
  overflow: auto;
  width: 100%; 
  height: 100%; 
  display: flex; 
  border-top: solid;
}

.player-info-box {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgb(83, 83, 83);
  display: flex;
  width: 100%;
  color: white;
  border: solid 1px rgb(218, 218, 218);
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 5px;
  height: 100%;

  .player-info-btn {
    padding: 10px;

    &.highlight {
      background: #fcc107;
    }
  }

  &.short {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
}

.host-division-review-wrap {
  width: 100%;
}

.host-main {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;

  > .app-button-group {
    margin: 10px 5px 0 5px;
  }
}

.host-notes {
  width: 100%;
  overflow: auto;
  min-height: 200px;
}

.host-chat-input {
  height: 100px;
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  resize: none;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
}

.host-chat-button {
  background: black;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-left: auto;
}
