.vote-recap {
  line-height: 40px;
  font-size: 24px;
  font-weight: lighter;
}

.vote-wrapper {
  padding: 30px;
  font-size: 18px;
  font-weight: 200;
  color: black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  max-width: 500px;
  box-sizing: border-box;

  .vote-prompt {
    font-size: 20px;
    line-height: 20px;
    align-self: center;
    margin-bottom: 20px;
    max-width: 300px
  }

  .vote-header {
    font-size: 24px;
  }
}

.vote-options {
  display: flex; 
  flex-direction: column; 
  width: 100%;

  .vote-options-header, 
  .vote-options-row {
    display: flex; 
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; 

    input {
      display: none
    }
  }

  .vote-options-data {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
    pointer-events: none;
    padding: 5px;

    &.selectable {
      cursor: pointer;
      pointer-events: all;

      &::before {
        content: '';
        display: flex;
        height: 20px; 
        width: 20px; 
        flex-shrink: 0;
        justify-content: center;
        border: solid 1px; 
        border-radius: 5px; 
        margin-right: 10px; 
      }

      &.selected::before {
        content: '✓';
      }

      &:hover {
        background: rgba(white, 0.3);
        border-radius: 10px; 
      }
    }
  }

  .vote-tally {
    margin-left: 10px; 
    background: black;
    color: white;
    border-radius: 100%;
    flex-shrink: 0;
    width: 22px;
    height: 22px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}