.division-adv-table {
  background: transparent;
  tr {
    background: transparent;
  }

  .adv-header {
    display: flex; 
    border: none;
  }

  [data-adv] {
    &::after {
      display: block;
      content: attr(data-adv);
    }
  }

  [data-adv] {
    background: #fcc107;
    color: black;
  }

  [data-adv="0"] {
    background: transparent;
    color: white;
  }

  [data-adv="1"],
  [data-adv="2"] {
    background: #6ec2dc;
    color: black;
  }
}

.division-full__header {
  display: flex; 
  justify-content: space-between;

  .score {
    padding: 5px;
    background: #ffa600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
  }
}

.division-decisions__button-group-wrap {
  padding: 10px; 
  border-bottom: solid lightgrey 1px;
}

.division-full__main {
  background: white;
  display: flex; 
  flex-direction: column;
}

.division-full__body {
  height: 100%;
  width: 100%; 
  display: flex; 
  font-size: 16px;

  > .division-stats {
    background: rgb(29, 47, 75);
    color: white;
    width: 100%;
    max-width: 350px;
    padding: 10px;

    h2 {
      font-weight: 200;
    }
  }
}

.division-full__citizen-adv {
  padding: 10px;
}

.division-decisions-wrap {
  background: white;
  color: black;
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
}

.division-decisions {
  display: flex; 
  flex-direction: column;
  width: 100%; 
  height: 100%; 
  min-height: 300px;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start;

  button {
    margin-bottom: 10px;
  }
}