<ng-container *ngIf="type === 'R' && value > 0">
  <img *ngIf="value === 1" class="resource-image" src="../assets/R1.png"/>
  <img *ngIf="value === 2" class="resource-image" src="../assets/R2.png"/>
  <img *ngIf="value === 3" class="resource-image" src="../assets/R3.png"/>
</ng-container>

<ng-container *ngIf="type === 'C'">
  <img *ngIf="value === 1" class="resource-image contaminant" src="../assets/C1.png"/>
  <img *ngIf="value === 2" class="resource-image contaminant" src="../assets/C2.png"/>
  <img *ngIf="value === 3" class="resource-image contaminant" src="../assets/C3.png"/>
</ng-container>