<ng-container *ngIf="$marketView | async as marketView">
  <ng-container *ngIf="marketView === 'localLand'">
    <div class="harvest-header">
      <div><h1>Land Plots</h1></div>
      <div class="harvest-details">
        <div class="xlarge">Cost {{ landCost }}</div>
      </div>
    </div>
    <div class="market-grid-wrapper">
      <app-land-grid
        [showKey]="showKey"
        [showHarvest]="false"
        [divisionKey]="divisionKey"
        [updatePath]="landTilesPath"> 
      </app-land-grid>
    </div>
  </ng-container>
  <app-advancement-summary
    *ngIf="marketView === 'advancements'"
    [showKey]="showKey"
    [divisionKey]="divisionKey">
  </app-advancement-summary>
  <app-global-land *ngIf="marketView == 'globalLand'" [showKey]="showKey"></app-global-land>
</ng-container>
