<ng-container *ngFor="let slot of divisions">
  <ng-container *ngIf="slot.code !== 'C'">
    <app-society-summary
      *ngIf="(slot.listener | async) as division"
      class="division-summary"
      details="full"
      [division]="division">
    </app-society-summary>
    <div *ngIf="!slot.listener"></div>
  </ng-container>
  <ng-container *ngIf="slot.code == 'C'">
    <div *ngIf="(slot.listener | async) as summary">
      <div>Capacity {{ summary.actual }} / {{ summary.capacity }}</div>
      <div>Exceeded {{ (summary.actual / summary.capacity) * 100 }}%</div>
    </div>
  </ng-container>
</ng-container>