%glc-summary {
  margin-top: 10px;
}

.glc-summary--sm {
  @extend %glc-summary;
  font-size: 24px;
}

.glc-summary--lg {
  @extend %glc-summary;
  font-size: 30px;
  line-height: 30px; 
  white-space: nowrap;
  margin-bottom: 30px;
}