<ng-container *ngIf="$vote | async as vote">
  <div class="vote-wrapper">
    <div *ngIf="vote?.state === 'final' && vote?.noDecision">
      <em>The Society could not come to a decision</em>
    </div>

    <div *ngIf="vote?.selected" class="vote-recap">
      {{ vote?.result }} {{ vote?.selected?.result }}
    </div>

    <div *ngIf="vote?.state !== 'final' && !vote?.selected" class="vote-options">
      <div class="vote-prompt">{{ vote?.prompt }}</div>
      <ng-container *ngFor="let option of vote?.options; let i = index; let last = last">
        <div
          *ngIf="!(hideLast && last)"
          class="vote-options-row">
          <input 
            name="vote-options"
            type="radio" 
            [value]="option?.prompt"
            [(ngModel)]="selectedOption"/>
          <div 
            class="vote-options-data" 
            [class.selected]="option.prompt === selectedOption"
            [class.selectable]="allowSelection" 
            (click)="selectVoteOption(i)">
            <div>{{ option?.prompt }}<strong *ngIf="option?.cost">({{option?.cost}})</strong></div>
          </div>
          <div class="vote-tally" *ngIf="showVotes">{{ option?.votes }}</div>
        </div>
      </ng-container>

      <!-- <div
        *ngIf="includeOtherOption"
        class="vote-options-row">
        <div>
          <input 
            name="vote-options"
            type="radio" 
            [value]="other"
            [(ngModel)]="selectedOption"/>
        </div>
        <div class="vote-options-data">
          <div style="margin-right: 10px">Other:</div>
          <input [(ngModel)]="other" type="text"/>
        </div>
      </div> -->
    
    </div>


  </div>
</ng-container>