@import '~@angular/material/theming';
@include mat-core();
@import '~ngx-toastr/toastr';

$new-societies-primary: mat-palette($mat-indigo);
$new-societies-accent: mat-palette($mat-pink, A200, A100, A400);
$new-societies-warn: mat-palette($mat-red);
$new-societies-theme: mat-light-theme($new-societies-primary, $new-societies-accent, $new-societies-warn);

@include angular-material-theme($new-societies-theme);
@font-face {
  font-family: "Lovelo";
  src: local("Lovelo"), url(/assets/fonts/Lovelo-Black.woff) format("woff");
}
// $custom-typography: mat-typography-config(

// );
// @include angular-material-typography($custom-typography);

html, body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 22px; 

  p {
    margin: 0 0 12px;
  }
  h1, h2 {
    font-family: 'Lovelo';
    margin-bottom: 5px;
    margin-top: 5px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

body { margin: 0; background: black; }

table, th, td {
  border:1px solid black;
}

.v-div {
  display: block;
  height: calc(100% - 40px);
  width: 2px;
  background: white;
}

table {
  background: white;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

hr {
  width: 100%;
}

td, th {
  border: 1px solid #868686;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

%app-page {
  display: flex; 
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background: white;
  border: solid 1px;
  border-radius: 5px;
  font-size: 14px; 
  padding: 2px 4px;
}

select {
  height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.ipad-tab-content {
  height: 100%;
}

.ipad-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .ipad-select-wrapper {
    display: flex; 
    width: 100%;
    flex-direction: column; 
    align-items: center;
    margin: 10px;
  }

  select {
    width: 50%;
    height: 2.5em;
    flex-shrink: 0;
    border: solid white;
    margin-top: 10px;
    border-radius: 10px;
  }

  .app-vote.central {
    height: 100%;
    flex: 3;
    align-items: stretch;

    > .vote-wrapper {
      align-items: center;
      max-width: 100%;
      border-radius: 0;

      .vote-prompt {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.tab-card {
  background: white;
  padding: 10px; 
  line-height: 24px;
  font-size: 16px;
  color: black;
}

.timestamp {
  font-size: 16px;
}

.stack {
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
  &--lg {
    > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.stack-h {
  > *:not(:last-child) {
    margin-right: 10px;
  }
  &.lg {
    > *:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.new-value {
  background: #01a352;
  color: white;
  border-radius: 5px; 
  padding: 4px;
  margin-right: 5px;
}

.number-picker {
  border: solid 1px;
  margin: 5px;
  border-radius: 10px;

  .increase:hover,
  .decrease:hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.indented-list {
  margin-left: 20px;
}

.app-state {
  width: 100%;
  height: 100%;
}

.app-fullscreen-overlay {
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  background: black;
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  top: 0;
  left: 0
}

.app-division-adv {
  display: flex;
  margin: 10px 0 20px 0;
}

.app-division-advancements {
  p>*:first-child {
    margin-right: 5px;
  }

  &.ipad {
    .box {
      padding: 10px;
    } 
  }
  p {
    line-height: 1em;
    &:last-child {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }


}

.app-division-chart {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-division-review {
  padding: 20px;
  height: 100%; 
  width: 100%; 
  background: #fff2cc;
  font-size: 18px;
  line-height: 24px;
  display: flex; 
  flex-direction: column;
  color: black;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px;
}

.app-archived-review-display {
  display: flex;
  flex-direction: column;
  background: #fff6e0;
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #563900;
  height: 100%;
  overflow: auto;
}

.app-advancement-summary {
  height: 100%;
  width: 100%; 
  display: flex; 
  flex-wrap: wrap;
  overflow: auto;
  border-radius: 10px;
}

.app-global-capacity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.large {
    font-size: 2em;
    line-height: 1em;

    h2 {
      font-size: 1em
    }
  }
}

.app-global-land {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
}

.app-division-full {
  display: flex; 
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  overflow: hidden
}

.app-focus-tab {
  
}

.app-player-view-control {
  display: flex;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #19252b;
  display: flex;
  width: 100%;
  color: rgb(194, 194, 194);
  border: solid 1px white;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 5px;
  height: 100%;

  &.show {
    color: white;
    background: #3a88b6;

    .player-info-btn.show {
      background: #ffc107;
    }
  }

  &.highlight {
    .player-info-btn.highlight {
      background: #ffc107;
    }
  }

  &.short {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .player-info-btn {
    padding: 5px;
  }
}

.app-adv-track {
  display: flex;
  justify-content: center;
}

.app-player-advancements {
  border-radius: 10px;
  background: #0f2631;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
  height: 100%;
  margin-top: 5px;

  table {
    border: none;
    background: transparent;
    > tr {
      background: transparent;
      > td {
        border: none;
        text-align: center;
        > em {
          font-size: 14px;
        }
      }
      > th {
        text-align: center;
        border: none;
        border-bottom: solid 1px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

.app-demo-tiles {
  display: flex;
  flex-direction: column;
}

.app-division-popups {
  &.hide {
    display: none;
  }

  &.dark-background {
    background: rgba(#111111, 0.8);
  }
  
  z-index: 100;
  position: absolute;
  opacity: 1;
  height: 100%; 
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.app-banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  display: flex; 
  flex-direction: column;
  width: 100%;
  background: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 140px;
  font-weight: 200;
  font-size: 18px;

  .flash-news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 10px;
    background: #62141e;
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease-in;
    transform: scale(0);
    animation: slide-in 400ms ease-in forwards;
  }
}

.app-reserve-bar {
  width: 100%;
  display: flex;
  height: 12px;
  background: white;
  position: relative;
  box-sizing: border-box;
}

.app-news-feed {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.app-notification-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
  min-height: 0;
  max-width: 400px;
  align-items: flex-start;

  > button {
    margin-bottom: 10px;
  }
}

.app-large-popup {
  display: flex; 
  flex-direction: column; 
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  min-height: 300px;
  width: 300px;
  padding: 20px; 
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 999999999;
  text-align: center;

  // &.animate-in {
  //   animation-name: pop-in;
  //   animation-timing-function: ease-in;
  //   animation-duration: 0.3s;
  //   animation-fill-mode: forwards;
  // }

  // &.animate-out {
  //   animation-name: pop-out;
  //   animation-timing-function: ease-out;
  //   animation-duration: 0.3s;
  //   animation-fill-mode: forwards;
  // }
}

.ipad-loading {
  width: 80px;
  margin-bottom: 20px;
  animation: spin 2s ease-in-out infinite;
}

.season-loading {
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  49% {
    transform: rotate(179deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.app-toast {
  display: flex; 
  flex-direction: column; 
  background: black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  padding: 20px; 
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  opacity: 0;
  text-align: center;

  &.animate-in {
    animation-name: pop-in;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.animate-out {
    animation-name: pop-out;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.app-ipad-host {
  @extend %app-page;
  padding-bottom: 0;
  background: black;
  padding: 10px;

  .modal-wrap {
    .modal.small {
      width: 100%;
      font-size: 24px;
      padding: 40px;

      .text-input {
        margin: 40px;
        font-size: 30px;
        padding: 10px;
        border: solid 1px;
      }
    }
  }

  .modal-content {
    font-size: 1em;
    line-height: 1.5em;
  }

  .folder__tabs .folder__tab {
    font-size: 22px;
    padding: 15px;
  }

  .action-button {
    font-size: 1em;
    padding: 10px;
  }

  button {
    font-size: 20px;
    padding: 5px 7px;
    margin-right: 10px;
  }

  .tab-card {
    font-size: 20px;
    line-height: 1.8em;
    overflow: auto;
  }
}

.app-host {
  @extend %app-page;
  padding: 15px;
  padding-bottom: 0;
  background: black;
  max-width: 1100px;

  .host-side-panel {
    &.left {
      max-width: 300px; 
      margin-right: 10px;
    }
    &.right {
      max-width: 500px;
    }
  }
}

.app-vote {
  display: flex; 
  width: 100%;
  align-items: center;

  &.central {
    .vote-wrapper {
      background: white;
      border-radius: 15px;
      color: black;
    }
  }

  &.citizen {
    justify-content: center;

    button {
      padding: 10px;
      font-size: 20px;
    }
    
    .vote-wrapper {
      display: flex;
      width: 100%;
      color: white;
    }
  }
}

.app-pulse {
  &--sm {
    animation: pulse-sm 1.8s ease-in-out forwards;
  }
  &--md {
    animation: pulse-md 1.8s ease-in-out forwards;
  }
}

@keyframes pulse-md {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  15% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  30% {
    transform: scale(1);
    filter: brightness(1);
  }
  45% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  60% {
    transform: scale(1);
    filter: brightness(1);
  }
  80% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

@keyframes pulse-sm {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  15% {
    transform: scale(1.02);
    filter: brightness(1.2)
  }
  30% {
    transform: scale(1);
    filter: brightness(1);
  }
  45% {
    transform: scale(1.02);
    filter: brightness(1.2)
  }
  60% {
    transform: scale(1);
    filter: brightness(1);
  }
  80% {
    transform: scale(1.02);
    filter: brightness(1.2)
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.app-market {
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 10px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-player-turn {
  display: inline-flex;
  background: white;
  position: relative;
  flex-direction: column;
  color: black;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.app-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-timeline {
  overflow: auto;
}

.timeline-wrapper {
  display: flex;
  overflow: auto;
  background: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;

  h2 {
    margin-bottom: 0;
  }
}

.app-central {
  @extend %app-page;
  padding-top: 5px;
  background: black;
}

.app-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
  min-height: 0;
}

.app-player-deck {
  font-size: 16px;
  display: flex; 
  flex-direction: column;
  margin-bottom: 5px;
}

.app-player {
  @extend %app-page;
  display: flex;
  color: white;
  flex-direction: column;
  box-sizing: border-box;
  background: #111111;
  width: 100%;
  padding: 10px;
  max-width: 800px;
  max-height: 800px;
  height: 100vh;
}

.number-picker {
  .input-group.input-md {
    display: flex; 
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 110px;
  }

  .form-control {
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

  .input-group-prepend {
    width: 30px;
    height: 100%;
    flex-shrink: 0;
    background: white;
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.badge {
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  font-family: sans-serif;
}

.box {
  white-space: nowrap;
  padding: 2px;
  border: solid 1px;
  border-radius: 10px;
  background: white;
}

.button-row {
  display: flex; 
  flex-direction: row;

  button:not(:last-child) {
    margin-right: 5px;
  }
 }

.editable-item {
  > * {
    margin-right: 5px;
  }

  .ipad-reserve-bar {
    margin-top: 5px;
  }
}

.app-button-group {
  display: flex;
  justify-content: center;
}

.tab-background {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  &.welcome {
    align-items: flex-start;

    img {
      width: 100%;
      height: unset;
      position: absolute;
    }
  }

  &.blur {
    animation-name: blur-image;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  img {
    height: 100%;
    position: absolute;
  }
 }

.text-input {
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
}

 @keyframes blur-image {
   100% {
     filter: brightness(0.5) blur(5px);
   }
 }

 .ns-fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

 @keyframes fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

 .tab-foreground {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; 
   height: 100%;
   z-index: 1;

   &.player-vote {
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    animation-name: fade-in;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-weight: 300;
    font-size: 18px;
    padding: 20px; 
    box-sizing: border-box;
   }
 }

.player-selected-tab {
  background: black;
  color: white;
  max-width: 800px;
}

.tab-block {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #eeeeee;
  border-radius: 10px;
  border: solid white;

  &.wrap-block {
    flex: 1;
    width: 100%;
    min-width: 200px;
  }
}

.host-selected-tab {
  background: #22597a;
  color: white;
}

.central-selected-tab {
  background: #7c98a9;
  color: black;
}

/** LAYOUT **/
.flex-column {
  display: flex; 
  flex-direction: column;

  &.flex-center-h {
    align-items: center;
  }

  &.flex-center-v {
    justify-content: center;
  }
}

.space-between {
  justify-content: space-between;
}

.stretch-h {
  width: 100%;
}

.stretch-v {
  height: 100%;
}

.stretch-vh {
  height: 100vh
}

.flex-row {
  display: flex; 
  flex-direction: row;

  &.flex-center-h {
    justify-content: center;
  }

  &.flex-center-v {
    align-items: center;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

/** OBJECTS **/
.action-sheet {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 24px;
  height: 200px;

  &.ipad {
    font-size: 2.5em;

    .number-picker .input-group.input-md {
      height: 50px;
      width: 120px;
      
      input {
        font-size: 30px;
      }
    }

    button {
      border-radius: 15px;
      font-size: 0.7em;
      padding: 10px;
    }
  }
}

.large-action-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  background: white;
  border: solid lightgrey 1px;
  border-radius: 10px;
  margin: 10px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;

  &.invert {
    background: black;
    color: white;
  }
  
  fa-icon {
    margin-bottom: 10px;
  }

  &:hover {
    box-shadow: 1px 1px 5px lightgrey;
  }
}

.modal-wrap {
  position: fixed; 
  font-size: 16px;
  top: 0; 
  left: 0;
  height: 100vh; 
  width: 100%;
  background: rgba(black, 0.5);
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 50px; 
  z-index: 999;
  box-sizing: border-box;

  .modal {
    position: relative;
    background: white;
    border-radius: 15px; 
    color: black; 
    display: flex; 
    flex-direction: column;
    overflow: auto; 
    height: 100%; 
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;

    > * {
      margin-bottom: 10px;
    }

    .modal-form-content {
      display: flex; 
      flex-direction: column;
      width: 100%;
      align-items: center;
      > input {
        margin-bottom: 10px;
      }
    }

    &.small {
      width: unset;
      height: unset;
      min-width: 300px;
      max-height: 100%;
    }

    &.center {
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .cancel-button {
    position: absolute;
    top: 10px; 
    right: 10px;
    padding: 5px;
    border: none;
    background: white;
  }
}

.resource-overflow {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 28px; 
  height: 20px;
}

// .contaminant {
//   display: FLEX; 

//   .resource-image {
//     width: 100%;
//     height: 100%;
//     background: black;
//   }
// }
.contaminant {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  font-size: 22px;
  height: 100%;

  .resource-image {
    width: 100%;
    background: black;
  }
}

.resource {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  font-size: 22px;
  height: 100%;

  .resource-image {
    width: 100%;
  }

  &:not(.contaminated):not(.contaminant) {
    &[data-division="N"] {
      &.three { background: #A30164 }
      &.two { background: #C62486 }
      &.one { background: #EB49AB }
    }
    &[data-division="NE"] {
      &.three { background: #771111 }
      &.two { background: #932D2D }
      &.one { background: #B14B4B }
    }
    &[data-division="E"] {
      &.three { background: #0044B0 }
      &.two { background: #1E68E3 }
      &.one { background: #478CFF }
    }
    &[data-division="SE"] {
      &.three { background: #4020C4 }
      &.two { background: #6344E8 }
      &.one { background: #876DFF }
    }
    &[data-division="S"] {
      &.three { background: #7F4200 }
      &.two { background: #B55D01 }
      &.one { background: #D67D22 }
    }
    &[data-division="SW"] {
      &.three { background: #00555E }
      &.two { background: #008592 }
      &.one { background: #1AAFBE }
    }
    &[data-division="W"] {
      &.three { background: #816000 }
      &.two { background: #AC8000 }
      &.one { background: #DAA400 }
    }
    &[data-division="NW"] {
      &.three { background: #006119 }
      &.two { background: #03982B }
      &.one { background: #28BD51 }
    }
  }

  &.contaminant {
    background: black;
  }

  &.contaminated {
    background: black;
  }
}

/** COMPONENTS **/
.announcement {
  display: flex;
}

.player-turn-indicator::before {
  content: "";
  border: solid 8px transparent;
  border-left-color: #fcc107;
  display: inline-block;
}

.card {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 15%;
  left: 15%;
  transform-style: preserve-3d;
  transition: opacity 1s;
  transition-delay: 0.5s;
  box-sizing: border-box;
  border-radius: 13px;
  display: block;

  &.mark {
    border: solid black;

    &[data-mark]::after {
      content: attr(data-mark);
      position: absolute;
      bottom: 90%;
      right: 90%;
      z-index: 1000;
      box-shadow: 2px 2px black;
      height: 10px;
      width: 10px;
      background: #ffc107;
      color: black;
      padding: 8px;
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      border-radius: 100% 100% 0 100%;
    }
  }

  &.disabled {
    // opacity: 0;
    pointer-events: none;
  }
  
  &.animate {
    .face {
      &.down {
        display: flex;
        animation-name: flip-away;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
      }
      &.up {
        display: flex;
        opacity: 0;
        animation-name: flip-towards;
        animation-timing-function: ease-out;
        animation-delay: 0.3s;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }

  .face {
    width:100%;
    height:100%;
    color:#FFF;
    background: #DDD7A5;
    text-align:center;
    position:absolute;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.down {
      display: none;
    }
  }
}

.relative-position {
  position: relative;
}

.grid-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;

  .grid {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    left: 0;
    background: #FDF4C5;
    padding: 12px;
    box-sizing: border-box;

    .tile {
      width: 100%;
      height: 100%;
      background: white;
    }
  }
}

.unseen-count {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 4px;
  display: flex; 
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 5px;

  &.events {
    background: rgb(0, 128, 85);
  }
}

.validation-errors {
  background: #ff9c8a;
  padding: 10px;

  .citizen-name {
    background: white;
    padding: 5px;
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  50% {
    opacity: 1;
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: translateY(0)
  }
  50% {
    opacity: 1;
    transform: translateY(-20px)
  }
  100% {
    opacity: 0;
    transform: translateY(20px)
  }
}

@keyframes flip-away {
  99% {
    transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flip-towards {
  0% {
    opacity: 1;
    transform: rotateY(-80deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.dialog {
  display: flex;
}

.division-summary-code {
  padding: 5px;
  padding-bottom: 2px;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}

.harvest {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  width: 500px;
  background: #FDF4C5;
}

.harvest-header {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  background: #0f2631;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  min-height: 60px;

  h1 {
    font-size: 34px;
    margin-bottom: 0;
    padding: 0;
  }
}

.harvest-details {
  display: flex;
  flex-direction: row;
  font-weight: 250;
  font-size: 18px;
  border-radius: 10px; 
  line-height: 25px;

  .large {
    font-size: 18px; 
    margin-bottom: 10px;
  }

  .xlarge {
    font-size: 26px;
  }
}

.hidden {
  opacity: 0;
}

.player-hands {
  display: flex;
}

.scorecard {
  display: flex
}

.app-society-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px white;
  font-size: 16px;
  font-weight: 100;
  color: white;
  padding: 10px; 
  padding-bottom: 0;
  box-sizing: border-box;

  &.large-text {
    .ns-icon > img {
      height: 70px;
      width: 70px;
      margin-left: 20px;
      margin-top: -20px;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 60px;
    }
    * {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

.society-grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: black; 
  color: white;
}

.vote {
  display: flex;
}

.citizen-id {
  border-radius: 5px;
  color: white;
  min-width: 20px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-right: 10px;
  font-size: 16px;
}

.citizen-name {
  font-size: 18px;
  font-weight: 200;
}

.close-button {
  position: absolute;
  top: 10px; 
  right: 10px;
  border: none;

  &::after {
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: black;
    content: '✕';
  }
}

.ns-multiselect {
  .dropdown-btn {
    box-sizing: border-box;
  }
}

.ns-icon {
  color: white;
  font-size: 16px;
  display: flex; 
  align-items: center;
  justify-content: center;

  > img {
    height: 24px;
    width: 24px;
  }
}

[data-color="E"] {
  background: rgb(117, 170, 255);
}
[data-color="NE"] {
  background: #9b3f3f;
}
[data-color="N"] {
  background: rgb(192, 92, 152)
}
[data-color="NW"] {
  background: rgb(84, 173, 108)
}
[data-color="S"] {
  background: rgb(189, 137, 82)
}
[data-color="SE"] {
  background: #79719b;
}
[data-color="SW"] {
  background: #67a5ab;
}
[data-color="W"] {
  background: rgb(223, 190, 93)
}

.jumbo, .jumbo * {
  font-size: 70px !important;
  line-height: 80px !important;
}
