<table *ngIf="($data | async) as data">
  <tr>
    <th>Adv</th>
    <th>Contribute</th>
    <th>Cost</th>
    <th>Benefit</th>
  </tr>
  <tr class="division-details__number">
    <td>
      <i class="ns-icon">
        <img src="../assets/safety_white.png"/>
      </i>
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.safety"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.safety, data.costs)}}
    </td>
    <td><em>Safe explore</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <i class="ns-icon">
        <img src="../assets/health_white.png"/>
      </i>
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.health"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.health, data.costs)}}
    </td>
    <td><em>Safe gather</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <i class="ns-icon">
        <img src="../assets/arts_white.png"/>
      </i>
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.arts"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.arts, data.costs)}}
    </td>
    <td><em>Immeasurable</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <i class="ns-icon">
        <img src="../assets/knowledge_white.png"/>
      </i>
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.knowledge"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.knowledge, data.costs)}}
    </td>
    <td><em>Harvest peek</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <i class="ns-icon">
        <img src="../assets/infrastructure_white.png"/>
      </i>
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.infrastructure"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.infrastructure, data.costs)}}
    </td>
    <td><em>+1 Action</em></td>
  </tr>
</table>