<table *ngIf="($data | async) as data">
  <tr>
    <th>Adv</th>
    <th>Contribute</th>
    <th>Cost</th>
    <th>Benefit</th>
  </tr>
  <tr class="division-details__number">
    <td>
      <fa-icon size="sm" [icon]="aIcon"></fa-icon>
      A
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.arts"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.arts, data.costs)}}
    </td>
    <td><em>Immeasurable</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <fa-icon size="sm" [icon]="hIcon"></fa-icon>
      H
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.health"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.health, data.costs)}}
    </td>
    <td><em>Safe gather</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <fa-icon size="sm" [icon]="iIcon"></fa-icon>
      I
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.infrastructure"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.infrastructure, data.costs)}}
    </td>
    <td><em>Player can use 1 extra action (does not affect Capacity)</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <fa-icon size="sm" [icon]="kIcon"></fa-icon>
      K
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.knowledge"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.knowledge, data.costs)}}
    </td>
    <td><em>Harvest peek</em></td>
  </tr>
  <tr class="division-details__number">
    <td>
      <fa-icon size="sm" [icon]="sIcon"></fa-icon>
      S
    </td>
    <td>
      <app-adv-track [color]="data?.color" [contributions]="data?.adv?.safety"></app-adv-track>
    </td>
    <td>
      {{advCost(data?.adv?.safety, data.costs)}}
    </td>
    <td><em>Safe explore</em></td>
  </tr>
</table>