.toast-event-resource {
  width: 40px; 
  height: 40px; 
  margin: 10px; 
  border-radius: 10px;

  &.resource {
    font-size: 22px;
  }

  &.contaminant {
    width: 100px;
    height: 100px;
  }

  &.contamination {
    width: 80px;
    height: 80px;
    background: tomato;
    height: 100%;
    display: flex;

    img {
      padding: 4px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
