<ng-container>
  <app-toast
    *ngIf="divisionEvent && type === 'toast'"
    (afterDismiss)="afterToastHide()"
    [data]="divisionEvent">
    <app-harvest-image
      class="resource toast-event-resource"
      [contaminated]="false"
      [division]="divisionKey"
      [type]="divisionEvent.type"
      [value]="divisionEvent.value">
    </app-harvest-image>
  </app-toast>
  <app-large-popup
    *ngIf="divisionEvent && type === 'large-popup'"
    (afterDismiss)="afterLargePopupHide()"
    @fadeInOut
    [data]="divisionEvent"
    [canDismiss]="user !== 'player'"
  >
    <app-demo-tiles
      [centerTileValue]="divisionEvent?.value"
      [tiles]="divisionEvent?.data">
    </app-demo-tiles>
  </app-large-popup>
</ng-container>