.season-score {
  font-size: 20px; 
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 10px;
    align-items: center;
  }
}

.summary-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-family: sans-serif;
  font-weight: normal;

  * {
    font-family: sans-serif
  }
}