<ng-container *ngIf="division">
  <h1 class="flex-row">
    <strong>{{ division?.name }}</strong>
  </h1>
  <div class="season-score">
    <div class="flex-row">
      <i class="ns-icon">
        <img src="/assets/season_white.png"/>
      </i>
      <strong>{{ division.season }}</strong>
    </div>
    <div>
      <strong>{{ division.score }} ({{ division.VP }})</strong>
    </div>
  </div>
  <div>
    Land cost: <strong>{{ division.landCost }}</strong>
  </div>
  <app-division-chart 
    *ngIf="details === 'full'"
    [height]="120"
    [width]="200"
    [divisionKey]="division.code" 
    [showKey]="showKey">
  </app-division-chart>
</ng-container>