<ng-container *ngIf="division">
  <h1 class="flex-row">
    <strong>{{ division?.code }}</strong>
    <i class="ns-icon">
      <img src="/assets/season_white.png"/>
    </i>
    <div>{{division.season}}</div>
  </h1>
  <div class="flex-row flex-center">
    <strong>Score: </strong> {{ division.score }}
   </div>
  <div><strong>Land cost: </strong>{{ division.landCost }}</div>
  <br/>
  <app-division-chart 
    *ngIf="details === 'full'"
    [height]="120"
    [width]="200"
    [divisionKey]="division.code" 
    [showKey]="showKey">
  </app-division-chart>
  <!-- <ng-container *ngIf="details === 'full'">
    <div><strong>Season:</strong>{{ division.season }}</div>
    <div><strong>Reserve:</strong>{{ division.reserve }}</div>
    <div><strong>Actions:</strong>{{ division.actions }}</div>
    <div><strong>Capacity:</strong>{{ division.capacity }}</div>
    <div><strong>Harvest:</strong>{{ division.harvest }}</div>
  </ng-container> -->
</ng-container>