<ng-container *ngIf="division">

  <div class="summary-header">
    <h1 class="flex-row" [class.jumbo]="large">
      <strong>{{ division?.code}}</strong>
      <div class="flex-row" style="margin-left: 10px">
        <i class="ns-icon">
          <img src="/assets/season_white.png"/>
        </i>
        <strong>{{ division.season }}</strong>
      </div>
    </h1>
    <div class="season-score">
      <div>
        <strong>{{ division.score }} <span *ngIf="isAdmin">({{ division.VP }})</span></strong>
      </div>
    </div>
  </div>
  <h3>
    Land cost: <strong>{{ division.landCost }}</strong>
  </h3>

  <app-division-chart 
    *ngIf="details === 'full'"
    [height]="120"
    [width]="200"
    [graph]="graph"
    [divisionKey]="division.code" 
    [showKey]="showKey">
  </app-division-chart>
</ng-container>